body {
	background-color: blue;
}

#container {
	display: grid;
	background-color: black;
    width: 100%;
    margin: 0px auto;
}

#fullContainer {
	width: 421px;
	margin: 0 auto;
}

#textInput {
	padding: 30px;
	padding-right: 80px;
	width: auto;
	color: white;
}

#input {
	float: right;
}

div {
	text-align: center;
}

